
/* Quando a tela for de 600 px ou menor */

@media screen and (max-width: 600px){

    .exemplo1 {
        background-color: red;
    }
    
    h1{
        display: none;
    }

}

/* Quando a tela for maior de 600 px */

@media screen and (min-width: 601px){

    .exemplo2 {
        background-color: yellow;
    }
}