
/* Formatação do body */

body {

    background-image: url(../imgs/discord-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 20px;
    font-family: 'Alegreya Sans', sans-serif;
}

/* Outras formatações */

ul{
    list-style-type: disc;
}

ol{
    list-style-type: decimal;
}

.container{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

/* Header, Footer */

header, footer{
    background-color: #303133cc;
    padding: 40px;
    box-shadow: 1px 1px 2px black;
    text-align: center
}

header, footer p{
    color: #dddddd;
    font-size: 1.3em;
    font-weight: bold;
}

footer{
    margin-top: 30px;
}
/* Elementos principais de texto */

.textos p {
    color: aliceblue;
    font-size: 1.2em;
    text-align: center;
}

.textos h1{
    text-align: center;
    font-weight: bold;
    color: #e9ecef;
    margin-top: 50px;
    font-size: 1.5em;
}

.textos ul{
    color: aliceblue;
    padding: 10px;
    font-size: 1.2em;
}

.textos ol{
    color: aliceblue;
    padding: 10px;
    font-size: 1.2em;
}

.textos li{
    padding: 12px;
    font-size: 0.9em;
}

/* Imagem da evolução do HTML */

.imgbox{
    text-align: center;
}

.imgbox img{
    max-width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
    transition: 0.2s;
    box-shadow: 4px 4px 3px black;
}

.imgbox img:hover{
    transform: scale(1.10);
    transition: 0.2s;
}

/* Imagem do ícone */

.gitimg{
    text-align: center;
}

.gitimg img{
    max-width: 150px;
    transition: 0.2s;
}

.gitimg img:hover{
    transform: scale(1.10);
    transition: 0.2s;
}

/* Formatação dos Links */

.textos a:link{
    color: #fca311;
    text-decoration: none;
    transition: 1s;
}
.textos a:visited{
    color: #fca311;
    transition: 1s;
    text-decoration: none;
}
.textos a:hover{
    color: #e85d04;
    text-shadow: 2px 2px black;
    transition: 1s;
}

/* Formatação de tabelas */

.tabelas table{
    background-color:#E9ECEF;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.tabelas td,th{
    border: 3px solid #212529;
    padding: 4px;
    text-align: center;
    color: #212529;
    transition: 0.6s;
}

.tabelas td:hover{
    transition: 0.6s;
    font-weight: 500;
    text-shadow: 1px 1px black;
}

.tabelas tr:nth-child(even){
    background-color: #dddddd;
}