body {
    background-image: url(../imgs/discord-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 90%;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Alegreya Sans', sans-serif;
}

.div1{
    margin-left: 80px;
    margin-right: 80px;
}

.div1 p {
    color: aliceblue;
    padding: 10px;
    margin-top: 60px;
    font-size: 1.2em;
    text-align: center;
}

.div1 h1{
    text-align: center;
    color: #e9ecef;
    margin-top: 50px;
    font-size: 2,5em;
}

.div1 ul{
    color: aliceblue;
    padding: 10px;
    margin-top: 60px;
    font-size: 1.2em;
}

.div1 li{
    padding: 12px;
    text-align: justify;
    font-size: 0.9em;
}

figure{
    padding: 4px;
    text-align: center;
}

#htmlfav img{
    width: 50%;
    transition: 0.2s;
    box-shadow: 4px 4px 3px black;
}

#htmlfav img:hover{
    width: 52%;
    transition: 0.2s;
}

#githubfav img{
    width: 15%;
    transition: 0.2s;
}

#githubfav img:hover{
    width: 17%;
    transition: 0.2s;
}

#evohtml{
    background-color: #DEE2E6;
    padding: 1px;
    width: 30%;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 4px 4px 4px black;
}

a:link{
    color: #fca311;
    text-decoration: none;
    transition: 1s;
}
a:visited{
    color: #fca311;
    transition: 1s;
    text-decoration: none;
}
a:hover{
    color: #e85d04;
    text-shadow: 2px 2px black;
    transition: 1s;
}