/* Formatação do HTML */

html{
    scroll-behavior: smooth;
}

/* Formatação do body */

body {
    background-image: url(../imgs/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 20px;
    font-family: 'Alegreya Sans', sans-serif;
}

/* Outras formatações */

#currentpage::after{
    content: "• atual";
    opacity: .7;
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    font-size: 10px;
    padding: 3px;
    font-weight: bold;
    position: relative;
    bottom: 3px;
    left: 20px;
}

nav ul{
    list-style-type: none;
}

b{
    font-weight: bold;
}

strong{
    font-weight: bold;
}

ul{
    list-style-type: disc;
}

ol{
    list-style-type: decimal;
}

.sl{
    border: .1px solid rgba(109, 107, 107, 0.582);
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

/* Scrollbar */

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.877); 
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 72, 01); 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(181, 52, 1); 
}

/* Header, Footer */

header, footer{
    background-color: #020202be;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
header a {
    color: white;
}

footer{
    color: white;
    padding: 20px 0;
}

.fixo{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;    
    z-index: 1030;
}

@media screen and (max-width: 599px){

    .container{
        margin-top: 65%;
    }

    #galeria img{
        margin-left: 0;
    }
    #galeria img:hover{
        border-color: rgb(224, 52, 0);
        transform: translateX(5%);
    }
}

@media screen and (min-width: 600px){

    .container{
        margin-top: 40%;
    }
    #galeria img{
        margin-left: 0;
    }
    #galeria img:hover{
        border-color: rgb(224, 52, 0);
        transform: translateX(5%)
    }
}

@media only screen and (min-width: 768px){

    .container{
        margin-top: 10%;
    }

    .fixo{
        flex-direction: row;
    }

    .menuconfig{
        position: absolute;
        right: 5%;
        top: 45%;
    }

    .menuconfig ul li{
        list-style-type: none;
        display: inline;
        margin-left: 10px;
    }

    #galeria img{
        margin-left: 20px;
    }
    #galeria img:hover{
        cursor: pointer;
        border-color: rgb(224, 52, 0);
        transform: translateY(-3%)
    }
}

/* Elementos principais de texto */

.textos {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.textos p {
    color: aliceblue;
    font-size: 1.1em;
    text-align: left;
    text-indent: 4%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.textos h1{
    text-align: left;
    font-weight: bold;
    color: #ff4801;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.textos h2{
    text-align: left;
    font-weight: bold;
    color: #e9ecef;
    font-size: 1.4em;
    margin-bottom: 2px;
}

.textos h3{
    text-align: left;
    font-weight: bold;
    color: #e9ecef;
    font-size: 1.3em;
}

.listas{
    margin-left: 5%;
    color: aliceblue;
    font-size: 1.1em;
}
.listas p{
    margin-top: 1px;
    margin-bottom: 20px;
    font-size: .8em
}
.listas ul{
    color: aliceblue;
    padding: 10px;
    font-size: 1.2em;
}

.listas ol{
    color: aliceblue;
    padding: 10px;
    font-size: 1.2em;
}

.listas li{
    padding: 12px;
    font-size: 0.9em;
}

/* Imagens */

#galeria{
    text-align: center;
}
#galeria img{
    max-width: 50%;
    border: 6px solid rgb(255, 72, 0);
    border-radius: 5px;
    transition-duration: .6s;
}

/* Formatação dos Links */

a{
    color: rgb(255, 72, 0);
    text-decoration: none;
    transition: .3s;
}
a:hover{
    color: rgb(250, 107, 64);
}

/* Formatação de tabelas */

.tabelas table{
    border-collapse: separate;
    border-radius: 1em;
    border: 1px solid white;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.tabelas td,th{
    background-color: rgba(0, 0, 0, 0.329);
    padding: 5px;
    text-align: center;
    color: white;
    transition: 0.3s;
}

.tabelas td{
    border-top: 1px solid white;
}

.tabelas td:not(:last-child),.tabelas th:not(:last-child){
    border-right: 1px solid white;
}

.tabelas td:hover{
    cursor: grab;
    color: rgb(255, 72, 0)
}

