html {
    background-image: url(imgs/discord-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Alegreya Sans', sans-serif;
}

#texts {
    color: aliceblue;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}

#titles {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
    color: aliceblue;
    font-size: 30px;
}

.conteinerText {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 200px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: auto;
    width: 100%;
    background-color: #1f1c1b;
    color: white;
    text-align: center;
}